<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amirarjmand.pgd">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SignUp"></activity>
        <activity android:name=".Login" />
        <activity android:name=".DER_Files" />
        <activity android:name=".DER" />
        <activity android:name=".ResultActivity" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".RR_Files" />
        <activity
            android:name=".RepairReport"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".DailyPassword" />
        <activity android:name=".ULOC_Form" />
        <activity android:name=".Unit_Loc_List" />
        <activity android:name=".UGOV_Form" />
        <activity android:name=".UGOV_Unit_List" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Inventory.Shortage" />
        <activity android:name=".Inventory.Description" />
        <activity android:name=".Unit_List" />
        <activity android:name=".Inventory.Accessory" />
        <activity android:name=".Inventory.Stationary" />
        <activity android:name=".Inventory.Tools" />
        <activity android:name=".Inventory.Safety" />
        <activity android:name=".Inventory.Testing" />
        <activity android:name=".Inventory.Geology" />
        <activity android:name=".Inventory.Cable" />
        <activity android:name=".Inventory.Sensor" />
        <activity android:name=".Inventory.Alarm" />
        <activity android:name=".Inventory.GAS" />
        <activity android:name=".Inventory.BUS" />
        <activity android:name=".Splasher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inventory.RigInfo" />
        <activity android:name=".Inventory.Container" />
        <activity android:name=".Inventory.Content" />
    </application>

</manifest>
